.voltage-class {
  .el-picker__popper.el-popper {
    background: transparent;
    background-color: rgba(30, 47, 80, 0.3);
    border: 0.01rem solid;
    border-radius: 0;
    border-image: linear-gradient(
        117.64deg,
        rgba(148, 166, 197, 0.3) 2.73%,
        rgba(148, 166, 197, 0) 25.27%,
        rgba(148, 166, 197, 0.3) 41.05%,
        rgba(148, 166, 197, 0.103266) 61.63%,
        rgba(148, 166, 197, 0.3) 97.67%
      )
      1;
    box-shadow: 0 0.04rem 0.1rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.2rem);

    .el-date-picker {
      width: 3.32rem !important;
    }

    .el-date-range-picker {
      width: 6.46rem !important;
    }

    .el-date-range-picker__content {
      padding: 0.16rem;
      margin:0;

      &.is-left {
        border-right: 0.01rem solid rgba(255, 255, 255, 0.5);
      }

      .el-date-range-picker__header {
        height: 0.28rem;

        div {
          margin-right: 0.5rem;
          margin-left: 0.5rem;
          font-size: 0.16rem;
        }

        .el-picker-panel__icon-btn,
        .el-date-range-picker__header-label {
          color: #fff;
        }

        .el-picker-panel__icon-btn {
          margin-top: 0.08rem;
          font-size: 0.12rem;
        }

        .el-date-range-picker__header-label {
          padding: 0 0.05rem;
          font-size: 0.16rem;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }

    .el-month-table,
    .el-year-table {
      margin: -0.01rem;
      font-size: 0.12rem;
      border-spacing: 0.02rem;

      td {
        width: 0.68rem;
        padding: 0.08rem 0;

        .el-date-table-cell {
          height: 0.48rem;
          padding: 0.06rem 0;

          .el-date-table-cell__text {
            width: 0.54rem;
            height: 0.36rem;
            color: #fff;
            line-height: 0.36rem;
            border-radius: 0;
          }
        }

        &.current:not(.disabled) .el-date-table-cell {
          margin: 0 0.03rem;
          border-radius: 0;

          .el-date-table-cell__text {
            background-color: rgba(255, 105, 0, 1);
          }
        }
      }
    }

    .el-picker-panel {
      background: transparent;
      line-height: 0.3rem;

      .el-picker-panel__body {
        color: #fff;

        .el-date-picker__time-header {
          padding: 0.08rem 0.05rem 0.05rem;
          font-size: 0.12rem;
          border-bottom: 0.01rem solid rgba(255, 255, 255, 0.5);

          .el-date-picker__editor-wrap {
            padding: 0 0.05rem;
          }
        }

        .el-date-picker__header {
          padding: 0.12rem 0.12rem 0;

          .el-date-picker__header-label,
          .el-picker-panel__icon-btn {
            color: #fff;
          }

          .el-picker-panel__icon-btn {
            margin-top: 0.08rem;
            font-size: 0.12rem;
          }
        }

        .el-picker-panel__content {
          // margin: 0.15rem;

          .el-date-table {
            font-size: 0.12rem;

            th {
              padding: 0.05rem;
              color: #fff;
              border-bottom: 0.01rem solid rgba(255, 255, 255, 0.5);
            }

            td {
              width: 0.32rem;
              height: 0.3rem;
              padding: 0.04rem 0;

              &.available:hover {
                color: rgba(255, 105, 0, 1);
              }
            }
          }
        }
      }

      .el-picker-panel__footer {
        padding: 0.04rem 0.12rem;
        background: transparent;
        border-top: 0.01rem solid rgba(255, 255, 255, 0.5);

        .el-picker-panel__link-btn {
          padding: 0.04rem 0.12rem;
          color: #fff;

          &.is-disabled {
            color: #fff;
            background: #3a5279;
          }
        }
      }
    }
  }

  .el-time-panel {
    width: 1.8rem;
    margin: 0;
    background-color: rgba(26, 48, 86, 1);
    border: 0.01rem solid rgba(128, 128, 128, 0.5);
    border-radius: 0.02rem;

    .el-time-panel__header {
      padding: 0.16rem 0.2rem;
      color: #fff;
      background: transparent;
      border-bottom: 0.01rem solid rgba(255, 255, 255, 0.5);

      .el-time-panel__title {
        color: #fff;
        font-size: 0.14rem;
        font-weight: 600;
      }
    }

    .el-time-panel__content {
      max-height: 1.92rem;

      &::before {
        border-top: 0.01rem solid rgba(255, 255, 255, 0.5);
        border-bottom: 0.01rem solid rgba(255, 255, 255, 0.5);
      }

      &::after {
        height: 0.32rem;
        margin-top: -0.16rem;
        padding-top: 0.06rem;
      }

      .el-time-spinner__wrapper {
        max-height: 1.92rem;
      }

      .el-time-spinner__list {
        &::before {
          height: 0.8rem;
        }

        &::-webkit-scrollbar {
          width: 0.06rem;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(39, 68, 113, 0.7);
          border-radius: 0.03rem;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        .el-time-spinner__item {
          height: 0.36rem;
          color: #fff;
          font-size: 0.14rem;
          line-height: 0.36rem;
          transition: all 0.3s ease;

          &:hover {
            color: #fff;
            background: rgba(39, 68, 113, 0.8);
          }

          &.is-active {
            color: #ffffff;
            font-weight: 600;
            background: rgba(39, 68, 113, 1);
          }

          &.is-disabled {
            color: #c0c4cc;
            cursor: not-allowed;
          }
        }
      }

      .el-scrollbar__bar {
        right: 0.02rem;
        border-radius: 0.04rem;

        &.is-vertical {
          top: 0.02rem;
          width: 0.06rem;

          .el-scrollbar__thumb {
            min-height: 0.2rem;
          }
        }
      }
    }

    .el-time-panel__footer {
      height: 0.36rem;
      padding: 0.04rem;
      line-height: 0.25rem;
      background-color: rgba(26, 48, 86, 1);
      border-top: 0.01rem solid rgba(255, 255, 255, 0.5);

      .el-time-panel__btn {
        margin: 0.05rem;
        padding: 0 0.05rem;
        color: #fff;
        font-size: 0.14rem;
        line-height: 0.16rem;
        transition: all 0.3s ease;
      }
    }
  }

  .el-date-table td {
    &.disabled {
      background: transparent;

      .el-date-table-cell {
        background: rgba(255, 255, 255, 0.5);
      }
    }

    .el-date-table-cell {
      height: 0.3rem;
      padding: 0.03rem 0;
      line-height: 0.3rem;

      .el-date-table-cell__text {
        width: 0.24rem;
        height: 0.24rem;
        color: #fff;
        line-height: 0.24rem;
      }
    }

    &.current:not(.disabled) .el-date-table-cell__text {
      background-color: rgba(255, 105, 0, 1);
    }

    &.today .el-date-table-cell__text {
      color: rgba(255, 105, 0, 1);
    }

    &.in-range .el-date-table-cell {
      background-color: rgba(255, 105, 0, 0.5);

      &:hover {
        background-color: rgba(255, 105, 0, 0.8);
      }
    }

    &.start-date .el-date-table-cell {
      margin-left: 0.05rem;
      background-color: rgba(255, 105, 0, 0.5);
      border-top-left-radius: 0.15rem;
      border-bottom-left-radius: 0.15rem;
    }

    &.end-date .el-date-table-cell {
      margin-right: 0.05rem;
      background-color: rgba(255, 105, 0, 0.5);
      border-top-right-radius: 0.15rem;
      border-bottom-right-radius: 0.15rem;
    }

    &.start-date .el-date-table-cell__text,
    &.end-date .el-date-table-cell__text {
      color: rgba(255, 105, 0, 1);
      background-color: rgba(255, 105, 0, 1);
    }
  }
  .el-date-editor.is-focus .el-input__wrapper{
    box-shadow: none;
  }
  .el-range-editor.el-input__wrapper {
    width: 4rem !important;
    &.is-active {
      box-shadow: none;
    }
    &:hover {
      box-shadow: none;
    }

    .el-range__icon,
    .el-range__close-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0.16rem;
      height: 0.16rem;
      margin: 0 0.04rem;
      color: #fff;
      font-size: 0.16rem;
    }

    .el-range-separator {
      padding: 0 0.05rem;
      color: #fff;
      font-size: 0.14rem;
    }
  }
}
