node_modules
dist
.git
.gitignore
.vscode
.idea
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local
coverage
.nyc_output
*.md
!README.md
Dockerfile
.dockerignore
docker-compose.yml
reports
scripts
auto-imports.d.ts
components.d.ts
